@mixin button-style {
  margin-top: 30px;
  border-radius: 25px;
  text-transform: uppercase;
	text-decoration: none;
	padding: 10px 30px;
	background-color: rgb(255, 255, 255);
	display: inline-block;
	transition-property: all;
	transition-duration: 0.7s;
	animation-name: moveUp;
	animation-duration: 5s;
	position: relative;
	/*animation-delay: 2s;*/
/*	animation-fill-mode: backwards;*/
	/*position: relative;
	z-index: 5; */
}

%button {
  text-decoration: none;
  color: #55c57a;
  display: inline-block;
  padding: 4px;
  border-bottom: 1px solid #55c57a;
  margin-top: 2rem;
  padding: 3px 4px;
}

.btn {
  @include button-style;
  &:link {
    @include button-style;
  }
  &:visited {
    @include button-style;
  }
  &-white {
    color: grey;
    background-color: white;
    &::after {
      background-color: white;
    }
  }
  &-green, &-green:link, &-green:visited {
    background-color: #55c57a;
    color: white;
    animation-name: none;
  }
  &-green::after {
    color: white;
    background-color: #55c57a;
  }
&:hover {
  transform: translateY(-5px);
  &::after {
    opacity: 0;
    transform: scale(1.2);
  }
}
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    border-radius: 25px;
    transition: all .5s;
  }
  &:active {
    transform: translateY(2px);
  }
}

.book {
  text-transform: uppercase;
  border-radius: 30px;
  padding: 15px 30px;
  margin-bottom: 25%;
  background-color: white;
}

.btn-more:visited {
  @extend %button;
}
.btn-more:link {
  @extend %button;
}
.btn-more:hover{
  background-color:  #55c57a;
  color: white;
  transform: translateY(-5px);
  box-shadow: .5rem 1rem 1rem rgba(0, 0, 0, 0.5);
}
.btn-more:active {
  transform: translateY(2px);
}
.btn-more {
  transition: all 0.2s;
}