// @import 'variables.scss';
// @import 'utils.scss'

.section-1 {
  
  background: #f7f7f7;
  margin-top: -20%;
  padding-bottom: 30rem;
  .skewed-title {
    margin-top: 20rem;
  }


  // h2 {
  //   margin: 20rem 0 5rem 0;
  //   text-transform: uppercase;
  //   display: inline-block;
  //   font-size: 3.5rem;
  //   letter-spacing: 2px;
  //   -webkit-background-clip: text;
  //   color: transparent;
  //   background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  //   transition: all 0.2s ease-inout;
  // }

  // h2:hover {
  //   transform: skewY(2deg) skewX(20deg);
  
  // }

  .container-flex > div {
    width: 50%;
    padding: 0 2rem;
    // .btn-more:visited {
    //   @extend %button;
    // }
    // .btn-more:link {
    //   @extend %button;
    // }
    // .btn-more:hover{
    //   background-color:  #55c57a;
    //   color: white;
    //   transform: translateY(-5px);
    //   box-shadow: .5rem 1rem 1rem rgba(0, 0, 0, 0.5);
    // }
    // .btn-more:active {
    //   transform: translateY(2px);
    // }
    // .btn-more {
    //   transition: all 0.2s;
    // }

  }
  .container-picture {
    position: relative;
    top: 20%;
    .img {
      border-radius: 3px;
      box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.5);
      width: 50%;
      position: absolute;
      z-index: 10;
      cursor: pointer;
      outline-offset: 2rem;
      transition: all 0.3s;

      &:first-child{
        left: 0;
        top: -2rem;
      }
      &:nth-child(2){
        right: 4rem;
        top: 2rem;
      }
      &:nth-child(3){
        left: 20%;
        top: 6rem;
      }
      &:hover{
        z-index: 20;
        transform: scale(1.1);
        outline: 2rem solid  #55c57a;
      }

    }
    &:hover .img:not(:hover) {
      transform: scale(0.95);
    }
  }
}